<div
    class="bg-white border-b-2 py-4 flex align-items-center justify-content-between relative lg:static">
    <a class="hidden md:flex flex-column align-items-center group-logo" href="#">
        <p class="text-900 font-medium text-lg py-2 line-height-3 uppercase" style="text-align: center;">Công Ty
            Cổ
            Phần
            <br /> Thế Giới An Lạc
        </p>
    </a>
    <!-- <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
        leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a> -->
    <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2"
        style="top:120px">
        <div class="flex flex-col header-navbar">
            <div>
                <ul
                    class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <!-- Location contact -->
                    <li class="contact-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-red-600 mr-2"
                            style="width: 2rem; height: 2rem;" viewBox="0 0 384 512" fill="currentColor">
                            <path
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                        </svg>
                        <a pRipple class="flex m-0 md:ml-2 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Số 1 Phan Văn Tình, Thị Trấn Thủ Thừa <br />Huyện Thủ Thừa, Tỉnh Long
                                An</span>
                        </a>
                    </li>
                    <!-- Phone contact -->
                    <li class="contact-item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-blue-600 mr-2"
                            style="width: 1.7rem; height: 1.7rem;" fill="currentColor">
                            <path
                                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                        </svg>
                        <a pRipple class="flex m-0 md:ml-2 px-0 py-3 text-900 font-medium line-height-3">
                            <span>0776 135 135<br />0708936485 (Kinh Doanh)</span>
                        </a>
                    </li>
                    <!-- Email contact -->
                    <li class="contact-item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-blue-600 mr-2"
                            style="width: 1.7rem; height: 1.7rem;" fill="currentColor">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                        <a pRipple class="flex m-0 md:ml-2 px-0 py-3 text-900 font-medium line-height-3">
                            <span>thegioianlac.co&#64;gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
            <p-menubar [model]="items">
                <ng-template pTemplate="item" let-item>
                    <ng-container *ngIf="item.route; else elseBlock">
                        <a [routerLink]="item.route" class="p-menuitem-link">
                            <span [class]="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                    </ng-container>
                    <ng-template #elseBlock>
                        <a [href]="item.url" class="p-menuitem-link">
                            <span [class]="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                    </ng-template>
                </ng-template>
            </p-menubar>
        </div>
    </div>
</div>