:host ::ng-deep {
    .p-menuitem-link {
      color: #111827;
    }
    .p-menubar {
        background-color: white;
    }
    .p-element {
        color: black
    }
    .p-icon-wrapper{
        color: black
    } 
  }

.group-logo {
    width: 20rem;
}

.banner {
    text-align: -webkit-center;
}

.header-navbar {
    .contact-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
}
