@media screen and (min-width: 1960px) {
    .embed-video {
        width: 100%;
        height: 100%;
        .video {
            width: 735px;
            height: 400px;
        }
    }
    .blockquote {
        max-width: 24rem;
    }
}

@media (min-width: 992px) {
    .embed-video {
        width: 100%;
        height: 100%;
        .video {
            width: 560px;
            height: 315px;
        }
    }
    .blockquote {
        max-width: 24rem;
    }
}

@media (max-width: 991px) {
    .embed-video {
        display: none;
    }
    .blockquote {
        max-width: 100%;
    }
}
