<div class="container bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]">
    <div class="body-container">
        <p-blockUI [blocked]="blockedUI"><p-progressSpinner></p-progressSpinner></p-blockUI>
        <section class="bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-0 relative">
                <h1
                    class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
                    Tin tức
                </h1>
                <div class="text-xl text-gray-500 italic font-semibold text-center">
                    <p>"Cập nhật tin tức và theo dõi sức khỏe</p>
                    <p>Lợi ích kép cho cuộc sống"
                    </p>
                </div>
            </div>
        </section>

        <!-- TIN TỨC ZONE -->
        <div class="flex flex-col md:flex-row">
            <!-- Tin tức -->
            <div class="basis-1 md:basis-2/3">
                <div class="content p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex flex-row items-center">
                        <i class="pi pi-calendar mr-2" style="color: #13bfb3; font-size: 2rem"></i>
                        <h5 class="text-xl font-semibold tracking-tight text-gray-700 dark:text-white">{{ news.createDate | date : "dd/MM/yyyy" }}</h5>
                    </div>

                    <h2 class="mb-4 text-4xl leading-normal text-gray-900 font-extrabold dark:text-white uppercase">{{news.title}}</h2>

                    <!-- Content -->
                    <div class="mb-4" [innerHTML]="sanitizeContent(news.detail)"></div>
                </div>
            </div>

            <!-- Tin tức liên quan -->
            <div class="basis-1 md:basis-1/3">
                <div class="p-2 my-4 md:my-0 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Tin tức khác</h5>

                    <p-dataView #dv [value]="newsHighlight" filterBy="title">
                        <ng-template let-news pTemplate="listItem">

                            <div *ngFor="let new of newsHighlight; let first = first" class="col-12">
                                <div class="flex flex-row gap-3 cursor-pointer" [ngClass]="{'border-top-1 surface-border': !first}">
                                    <div class="basis-1/3 w-10rem mt-4 relative">
                                        <img
                                            [routerLink]="['/default/news', new.id]"    
                                            class="block mx-auto border-round h-full w-full shadow-3"
                                            [src]="new.image[0]"
                                            [alt]="new.title"
                                            style="object-fit: cover;" />
                                    </div>
                                    <div class="flex flex-row justify-content-between align-items-center flex-1 gap-4">
                                        <div [routerLink]="['/default/news', new.id]"
                                            class="text-lg font-medium text-900">{{ new.title }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </div>
    </div>
</div>