<div class="hidden md:block">
    <p-dataView #dv [value]="price" filterBy="name" layout="grid">
        <ng-template let-price pTemplate="gridItem">
            <div class="grid gap-4 grid-nogutter bg-[#f9fafb] mb-4">
                <div class="col-12 md:col-3" *ngFor="let item of price">
                    <div
                        class="w-full max-w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="p-4 rounded-t-lg max-h-80 mx-auto" [src]="'assets/demo/images/price/' + item.image"
                                alt="item.name" />
                        </a>
                        <div class="px-5 pb-5">
                            <a>
                                <p class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white mb-2">
                                    {{item.name}}</p>
                            </a>
                            <div class="flex flex-col">
                                <ng-container *ngIf="item.unit === 'none'; else defaultMoney">
                                    <span class="text-xl font-semibold text-gray-900 dark:text-white mb-2">{{item.price
                                        | money}}</span>
                                </ng-container>
                                <ng-template #defaultMoney>
                                    <span class="text-xl font-semibold text-gray-900 dark:text-white mb-2">{{item.price
                                        | money}} / {{ item.unit }}</span>
                                </ng-template>
                                <span class="text-md font-medium text-gray-700 dark:text-white mb-2 text-justify">
                                    <strong class="font-semibold text-gray-900 dark:text-white">Mô tả:</strong>
                                    {{item.description}}</span>
                                <a
                                    class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<div class="block md:hidden mb-4">
    <p-dataView #dv [value]="price" filterBy="name">
        <ng-template pTemplate="list" let-price>
            <div class="grid grid-nogutter">
                <div *ngFor="let item of price; let first = first" class="col-12">
                    <div class="flex flex-row sm:align-items-center p-4 gap-3 border-1 surface-border">
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round h-24 w-24 object-cover" [src]="'assets/demo/images/price/' + item.image" [alt]="item.name" />
                        </div>
                        <div class="flex flex-column flex-1">
                            <div class="flex flex-row justify-content-between align-items-start gap-1">
                                <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                <a
                                    class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 18 21">
                                        <path
                                            d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                                    </svg>
                                </a>
                            </div>
                        
                            <div class="pt-2">
                                <span class="text-md font-medium text-gray-700 dark:text-white mb-2 text-justify">
                                    <strong class="font-semibold text-gray-900 dark:text-white">Mô tả:</strong>
                                    {{item.description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
