<p-blockUI [blocked]="blockedUI">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<div class="bg-[#f9fafb] flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">

        <div class="thumbnail-container m-auto mt-4">
            <p-carousel class="col-span-8 slide-banner" [value]="this.dataBanner" [numVisible]="1" [numScroll]="1"
                [circular]="false" [autoplayInterval]="7000">
                <ng-template let-product pTemplate="item">
                    <img src="{{ product.image }}" [alt]="product.name" class="thumbnail w-full p-0 rounded-lg" />
                </ng-template>
            </p-carousel>
        </div>

        <div id="about" class="py-4 px-4 lg:px-8 md:mt-5 mx-0 lg:mx-8">
            <div class="flex flex-col md:flex-row">
                <!-- Introduction -->
                <div class="basis-3/4 pr-0 md:pr-4">
                    <h1
                        class="mb-4 text-4xl font-extrabold leading-normal tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                        Công Ty Cổ Phần Thế Giới An Lạc</h1>
                    <p class="mb-3 text-2xl leading-relaxed text-gray-800 dark:text-gray-400 text-justify">Với mong muốn
                        đem đến cho thị trường những sản phẩm – dịch vụ công nghệ cao, hiện đại nhưng vẫn mang đậm nét
                        đặc trưng dân dã của người dân Việt Nam. Chúng tôi thấu hiểu khách hàng luôn tìm kiếm những giải
                        pháp vừa đáp ứng sản phẩm sạch mà còn đáp ứng được giá trị tinh thần.</p>
                    <p class="mb-3 text-2xl leading-relaxed text-gray-800 dark:text-gray-400 text-justify">Dựa trên sự
                        quan sát học tập và lắng nghe khách hàng Công ty Cổ Phần Thế Giới An Lạc được sáng lập nhằm phục
                        vụ và đáp ứng nhu cầu thị trường hiện nay là sống xanh sống khỏe, An Lạc mỗi ngày.</p>
                    <p class="mb-3 text-2xl leading-relaxed text-gray-800 dark:text-gray-400 text-justify">Với Thế Giới
                        An Lạc mỗi bước tiến đều hướng đến mục tiêu phát triển bền vững, bảo vệ môi trường và sức khoẻ
                        con người đáp ứng đa dạng nhu cầu của Người tiêu dùng</p>
                    <p class="mb-3 text-2xl leading-relaxed text-gray-800 dark:text-gray-400 text-justify">Đến với Thế
                        Giới An Lạc mọi người được tận hưởng những trãi nghiệm mới, một phong cách hoàn toàn mới.</p>
                </div>

                <!-- Image -->
                <div class="basis-1/4 pl-0 md:pl-4 self-center">
                    <p-image src="assets/demo/images/landing/team-the-gioi-an-lac-2.jpg"
                        alt="Đội ngũ Công ty cổ phần Thế giới An Lạc" width="100%" [preview]="true" />
                </div>
            </div>
        </div>

        <!-- THÔNG TIN NỔI BẬT -->
        <div class="px-4 lg:px-8 mx-0 lg:mx-8">
            <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
                Tin tức nổi bật
            </h2>
			<p-dataView #dv [value]="news" filterBy="title" layout="grid">
				<ng-template let-news pTemplate="listItem">
					<div class="col-12" *ngFor="let new of news">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							<img [src]="new.image[0]" [alt]="new.title" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
							<div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                <p class="text-lg font-bold text-justify text-gray-900 dark:text-white">{{new.title}}</p>
								<div class="mb-2">{{new.subTitle}}</div>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-news pTemplate="gridItem">
					<div class="grid grid-nogutter bg-[#f9fafb]">
					<div class="col-12 md:col-4" *ngFor="let new of news">
						<div class="card m-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" style="height: 30rem;">
							<div class="flex flex-column align-items-center text-center mb-3">
								<img
                                    [src]="new.image[0]"
                                    [alt]="new.title"
                                    [routerLink]="['/news', new.id]"
                                    class="cursor-pointer w-9 h-52 object-cover shadow-2 my-3  mx-0 transition-all duration-300 filter brightness-100 hover:brightness-110 "/>
                                <p
                                    [routerLink]="['/news', new.id]"
                                    class="cursor-pointer text-lg font-bold text-justify text-gray-900 dark:text-white"
                                >{{new.title}}</p>
								<div class="mb-3 truncate-three-lines">{{new.subTitle}}</div>
							</div>
						</div>
					</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
    </div>
</div>