<div class="mt-4 px-4 lg:px-8">

    <div class="w-full pb-4">
        <span class="search p-input-icon-left">
            <i class="pi pi-search"></i>
            <input (input)="onFilter(dv, $event)" placeholder="Tìm khu vực" type="text" pInputText />
        </span>
    </div>


    <p-dataView #dv [value]="dealersClone" filterBy="name" [rows]="5" [paginator]="true">
        <ng-template pTemplate="list" let-dealersClone>
            <div class="grid grid-nogutter">
                <div *ngFor="let item of dealersClone; let first = first" class="col-12">
                    <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 border-1 surface-border">
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round w-full" [src]="'assets/demo/images/dealers/' + item.image" [alt]="item.name" />
                        </div>
                        <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                <div>
                                    <span class="font-medium text-secondary text-sm">Đại lý cấp độ {{ item.level }}</span>
                                    <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                </div>
                            </div>
                            <!-- Expanded/Closed Dealer -->
                            <div class="flex flex-column md:align-items-end gap-5">
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <div (click)="toggleDealer(item)" class="flex flex-row items-center cursor-pointer">
                                        <ng-container *ngIf="item.isExpanded; else close">
                                            <i class="pi pi-angle-up mr-2"></i>
                                            <a class="font-bold text-gray-600 dark:text-gray-500">Thu nhỏ</a>
                                        </ng-container>
                                        <ng-template #close>
                                            <i class="pi pi-angle-down mr-2"></i>
                                            <a class="font-bold text-gray-600 dark:text-gray-500">Mở rộng</a>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="item.isExpanded">
                        <div *ngFor="let dealer of item.dealers; let first = first" class="col-12 bg-teal-50">
                            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{'border-top-1 surface-border': !first}">
                                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                        <div>
                                            <span class="font-medium text-secondary text-sm">Đại lý cấp độ {{ dealer.level }}</span>
                                            <div class="text-lg font-medium text-900 mt-2">{{ dealer.name }}</div>
                                            <div class="text-lg font-medium text-900 mt-2">Địa chỉ: {{ dealer.address }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>